{% load static %}
<footer>
    
    <div class="elementor-widget-container"> 
        <div class="row justify-content-center">
            <div class="col-md-12"> 
                <div style="background-color: #f8c701; border-radius: 0px; padding: 50px;"> 
                    <center class="image-spacing">
                        <img src="{% static 'img/adi.png'  %}" alt="" width="100" height="100">
                        <img src="{% static 'img/fruna.png'  %}" alt="" width="100" height="100">
                        <img src="{% static 'img/poly.png'  %}" alt="" width="100" height="100">
                        <img src="{% static 'img/soft.png'  %}" alt="" width="100" height="100">
                        
                    </center>
                </div>
            </div>
        </div>
    </div>

    <div class="elementor-widget-container"> 
        <div class="row justify-content-center">
            <div class="col-md-12"> 
                <div style="background-color: #000000; border-radius: px; padding: 50px;"> 
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="{% url 'LisUs' %}">Herramientas de Administrador</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</footer>