<header>        
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                
                <img src="img/estrella.png" alt="" width="64" height="64" >
                Club Estrella de Macul
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="EstrellaMacul.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="EstrellaPlantel.html">Plantel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="EstrellaHistoria.html">Historia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="EstrellaTienda.html">Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="EstrellaFormulario.html">Abono</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>