<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Producto</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/estrella.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'base/hadmin.html' %}<br>

    <div class="container mt-5">
        <h1 class="text-center">Agregar Producto</h1><br>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Agregar Producto</button>
            <a href="{% url 'LisPro' %}">
                <button type="button" class="btn btn-primary mt-3">Volver</button>
              </a>
        </form>
    </div><br>

    {% include 'base/footer.html' %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
