<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>★Registro★</title>
  {% load static %}
  <link rel="icon" href="{% static 'img/estrella.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  {% include 'base/header.html' %}
  
  <main>
    <div class="container mt-5">
      <h1 class="text-center">Registro</h1><br>
      
      <form method="POST" class="container">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Registrar</button>
      </form>
    </div>
  </main><br>

  {% include 'base/footer.html' %}

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>
