

.arrow-up {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    display: none; }

    .float-btn {
        position: fixed;
        bottom: 20px;
        left: 20px;
        width: 50px;
        height: 50px;
        background-color: #007bff;
        color: white;
        text-align: center;
        line-height: 50px;
        font-size: 24px;
        cursor: pointer;
        border-radius: 50%;
        display: none; 
    }

    .card-img-top {
        width: 100%; 
        height: 300px; 
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0px;
    }
    
    .content {
        flex: 1;
    }
    
    footer {
        background-color: #f8f9fa;
        padding: 10px;
        text-align: center;
    }
    .form-select {
        width: 70%; 
        max-width: 200px; 
        
        
    }
    .form-control[type="date"] {
        width: 50%; 
        max-width: 200px; 
        padding: 0.375rem 0.75rem; 
        font-size: 0.875rem; 
    }
    
    .custom-margin {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .iframe-container {
        border: 10px solid #f8c701; 
        padding: 0px; 
        display: inline-block; 
    }

    .carousel-item img {
        width: 100%; 
        height: 430px; 
        object-fit: fill; 
    }
    .navbar {
        background-color: rgb(248, 199, 1) !important;
    }